{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<p>Линейная регрессия - стоимость жилья
<form action="/p_knn" method="POST">
    <p><input name="list1" class="form_text" type="text"> преступность на душу населения</p>
    <p><input name="list2" class="form_text" type="text"> среднее количество комнат в жилом помещении</p>
    <p><input name="list3" class="form_text" type="text"> долю частных домов, построенных до 1940 г.</p>
    <input type="submit" class="form_btn" value="Узнать рентабельность продаж">
    <h1>{{class_model}}</h1>
</form>
<img src="{{url_for('static', filename='/img/hehe.png')}}"/>
{% endblock %}